/* Définition des couleurs principales du thème */
:root {
  --primary-color: #ff0080;
  --secondary-color: #ffafbd;
  --tertiary-color: #ffc3a0;
  --background-color: #413c69;
  --text-color: #ffffff;
}
/* Style global du corps de la page */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Orbitron', sans-serif;
}
/* Barre de navigation et éléments associés */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 20px;
}

.logo {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.menu-toggle {
  display: none;
}

.nav-menu {
  display: flex;

  justify-content: space-between;
  list-style: none;
}

.nav-link {
  color: var(--primary-color);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 0 10px;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color);
}
/* Sections spécifiques de la page */
.hero {
  background: url('https://media.istockphoto.com/id/1211775125/fr/vectoriel/r%C3%A9tro-futuriste-synthwave-r%C3%A9trowave-style-paysage-urbain-de-nuit-avec-coucher-de-soleil.jpg?s=612x612&w=0&k=20&c=mEzzLjALIJ8GClNHB2C5SE69sBS1HTIBS6guKKINUZ4=')
    no-repeat center center / cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.slider {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  height: 300px;
  transition: opacity 1s;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.slide:nth-child(1) {
  background-image: url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
}

.slide:nth-child(2) {
  background-image: url('https://images.unsplash.com/photo-1627309323231-cca1ba3901c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
}

.slide:nth-child(3) {
  background-image: url('https://images.unsplash.com/photo-1579583604121-1a067f3f4d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
}
.slide:not(.active) {
  opacity: 0;
}
h2 {
  color: var(--primary-color);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
/* Grille pour les services */
.services {
  padding: 50px 0;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background-color: var(--secondary-color);
  padding: 20px;
  color: var(--background-color);
}

.contact {
  padding: 50px 0;
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--background-color);
}

footer {
  padding: 20px 0;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  width: 100%;
  bottom: 0;
}




@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    cursor: pointer;
  }

  .menu-toggle .bar {
    height: 3px;
    width: 30px;
    background-color: var(--primary-color);
  }

  .menu-toggle.cross .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .menu-toggle.cross .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.cross .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px;
    height: 80px;
  }

  .nav-menu {
    position: absolute;
    top: 80px; /* correspond à la hauteur de .navbar */
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
    list-style: none;
    z-index: 3;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-link {
    padding: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
